<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PhoneName" value="Huawei p10"/>
    <add key="ComparisonParameter" value="Оперативная память"/>
    <add key="UserName" value="Test"/>
    <add key="UserPassword" value="Test"/>
    <add key="WrongPasswordMessage" value="Неверный пароль"/>
    <add key="Region" value="Витебск"/>
  </appSettings>
</configuration>